ersPCDocumentstestcursocplusplusmeus projetosJAVA-CURSO'; & 'CProgram FilesJavajre-1.8binjava.exe' '-cp' 'CUsersPCAppDataRoamingCodeUserworkspaceStorage8b6041805f3ed32a5f1997e397abb662redhat.javajdt_wsJAVA-CURSO_9e13c311bin' 'aula002java' 
